{
  "extends": [
    "plugin:cypress-dev/general",
    "plugin:cypress-dev/tests",
    "eslint:recommended"
  ],
  "plugins": [
    "cypress"
  ],
  "env": {
    "cypress/globals": true
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1, "MemberExpression": "off" }],
    "no-plusplus": "off",
    "camelcase": "off",
    "import/prefer-default-export": "off",
    "no-unused-vars": "warn",
    "no-unused-expressions": "warn",
    "no-console": "warn",
    "semi": ["error", "always"],
    "quotes": ["error", "double"]
    }
}
